:root {
    --bodyBackgroundColor: rgb(240 240 240);
    --tableBorderColor: rgb(131, 131, 131);
    --tableHeaderColor: #84cc1e;
    --tableHeaderBgColor: rgb(255, 255, 255, 0);
    --accentColor: #1e7ecc;
}

select {
    background-color: #040404b2;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url('./assets/bg9.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}

input.input-xs,
select,
input {
    background: #0000007a;
}

input.input-xs:disabled {
    color: rgb(199, 199, 199);
    background: #2626267a;
}

#statusDetails {
    display: flex;
    justify-content: space-between;
}

/* mobile resolution */
@media (max-width: 1000px) {
    body {
        font-size: 1rem !important;
        background-size: contain;
    }

    #statusDetails {
        display: block;
    }

    .main .btn-group .btn {
        /* font-size: 1.2rem !important;
        font-weight: bold; */
        margin-bottom: 1rem;
    }

    input.input-xs {
        height: 36px;
        padding: 2px 5px;
        font-size: 1rem;
        line-height: 1.5;
        /* If Placeholder of the input is moved up, rem/modify this. */
        border-radius: 3px;
    }

    select.w-100 {
        height: 36px;
        padding: 2px 5px;
        font-size: 1rem;
        line-height: 1.5;
        /* If Placeholder of the input is moved up, rem/modify this. */
        border-radius: 3px;
    }

    .menu-buttons .main-buttons button {
        font-size: 0 !important;
    }

    .menu-buttons .main-buttons button i {
        font-size: initial;
    }
}

@media (min-width: 1001px) {
    body {
        font-size: .7rem !important;
    }

    .main {
        /* background-color: var(--bodyBackgroundColor); */
    }

    body.main.btn-group.btn {
        font-size: .8rem !important;
        font-weight: bold;
    }

    .card {
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 12%), 0 6px 20px 0 rgb(0 0 0 / 0%);
    }

    input.input-xs {
        height: 22px;
        padding: 2px 5px;
        font-size: .7rem;
        line-height: 1.5;
        /* If Placeholder of the input is moved up, rem/modify this. */
        border-radius: 3px;
    }

    label.col-form-label {
        line-height: 1;
    }

    select.w-100 {
        height: 22px;
        padding: 2px 5px;
        font-size: .7rem;
        line-height: 1.5;
        /* If Placeholder of the input is moved up, rem/modify this. */
        border-radius: 3px;
    }

    .buy-setup-card {
        background: rgba(255, 255, 255, 0.101);
        border-radius: 3px;
    }
}

.btn.btn-sm {
    height: 1rem;
    padding: 0 10px;
    color: var(--accentColor);
}

.maximized-card {
    overflow: hidden;
    transition: height 500ms ease-in;

    background: rgb(0 0 0 / 19%) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

h5.card-title,
h6.card-title {
    color: var(--accentColor);
}

.divPriceNow {
    border-radius: 5px;
    font-size: .9rem;
    background-color: var(--accentColor);
    padding: 0 1rem;
    color: black;
}

.divApplicationStatus {
    border-radius: 5px;
    font-size: .9rem;
    background-color: rgb(176, 203, 219);
    padding: 0 1rem;
    color: black;
}

.divApplicationTarget {
    border-radius: 5px;
    font-size: .9rem;
    background-color: rgb(176, 203, 219);
    padding: 0 1rem;
    color: black;
}

.main {
    position: relative;
    overflow-x: hidden;
    padding: 5px;
    padding-bottom: 27px;
}

#fldTradingHist {
    overflow-x: auto;
}

#fldTradingHistory {
    background: rgb(0 0 0 / 19%) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

button {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    opacity: .8;
}

.menu-buttons {
    overflow-x: auto;
}

button i {
    padding: .3rem;
}

.hasChanges {
    background-color: #ffcc0375 !important;
}

option {
    background-color: var(--bs-body-bg);
}

.footer {
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--bs-body-bg);
    border-top: 1px #e1e1e1 solid;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #888888;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(56 56 56) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar-container {
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(51, 51, 51, 0)fff;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 0px;
}

.snackbar-item {
    padding: 16px;
    margin-top: 5px;
    position: relative;
    bottom: 0px;
    opacity: 0;
    border-radius: 2px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar-item.show {
    bottom: 30px;
    opacity: 1;
    transition: opacity .5s ease, bottom .5s ease;
}

.snack-close {
    position: absolute;
    right: 6px;
    top: 2px;
    font-size: 1rem;
    cursor: pointer;
}



.table-custom {
    border-right: 1px solid var(--tableBorderColor);
    border-top: 1px solid var(--tableBorderColor) !important;
}


.table-custom th,
.table-custom td {
    border-left: 1px solid var(--tableBorderColor);
    border-bottom: 1px solid var(--tableBorderColor);
}

.table-custom th {
    color: var(--accentColor);
    background-color: var(--tableHeaderBgColor);
    font-size: .6rem;
}